{% extends "portfolio/baseaboutme.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">All About Me :P</h1>

<h2> This includes {{aboutmeobjs.count}} article{{ aboutmeobjs.count|pluralize}} </h2>

{% for obj in aboutmeobjs %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'AboutMe:detail' obj.id %}">
      <h2>{{ obj.title }}</h2>
    </a>

    <h4>{{ obj.description|striptags|truncatechars:100 }}</h4>
  </div>
</div>
{% endfor %}

{% endblock %}